/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

span {
    display: inline-block;
}

img {
    margin-left:20px;
}
h3 {
    float:right;
}



/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #FF7F50;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  /* display: table-cell;*/
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */ 
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 20px 20px;
}

.cover2 {
  background-color:#fff;
  padding: 20 20px;
  color: #000;
  text-align: center;
  text-shadow: none;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.mcc-imput-text{
  	max-width:80%;
  }

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {

  .cover {
    padding: 10px 100px;
  }
  .cover2 {
   padding: 10px 100px;
  }
  .cover3 {
   padding: 50px 100px;
  }
  
  .formalign{
	max-width:80%;
	}
	
	.img-mcc1{
	max-width:50%;
  }
	.img-mcc2{
	max-width:100%;
  }
  
  .mcc-imput-text{
  	max-width:80%;
  }
  
  /* Pull out the header and footer */
  .masthead {
    /* position: fixed; */
    top: 0;
  }
  .mastfoot {
    /* position: fixed; */
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover {
    padding: 0px 100px;
  }
  .cover2 {
   padding: 50px 100px;
  }
  .cover3 {
   padding: 50px 100px;
  }
  
  .formalign{
	max-width:80%;
  }
.img-mcc1{
	max-width:80%;
  }
  .img-mcc2{
	max-width:80%;
  }
.img-mcc3{
	max-width:100%;
  }
  .mcc-imput-text{
  	max-width:80%;
  }
  
  
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* position: fixed; */
  }
}
